@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100;1,200&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: rgb(33,51,85);
    background: linear-gradient(329deg, rgba(33,51,85,0.89) 44%, rgba(61,219,202,1) 100%);
}

a {
    text-decoration: none;
    color: darkblue;
}

ul {
    list-style: none;
}

/* Navbar */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;
}

/* Logo */
.logo {
    width: 210px;
    height: auto;
}
.logo img {
    display: block;
    width: 100%;
    height: auto;
}

/* Desktop Menu */

.desktop-main-menu {
    margin-right: 50px;

}

.desktop-main-menu ul {
    display: flex;
}
.desktop-main-menu ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
    
}
.desktop-main-menu ul li a {
    color: #f5f5f5
}

/* Menu item bottom border*/

.desktop-main-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #3ddbca;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19,1,0.22,1);
    transform-origin: right center;
    z-index: 3;
}

.desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 1s;
}

/* Hamburger Menu */
.hamburger {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: black;
    transition: all 0.5s;
}
.hamburger-middle {
    transform: translateY(5px);

}

.hamburger-bottom {
    transform: translateY(10px);
}

/* Transition Menu Icon to X when open */
.open {
    transform: rotate(90deg);
}
.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}
.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 3;
}

/* mobile menu */
.mobile-main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    z-index: 4;
    background: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.19,1,0.22,1);
    
}

/* Bring menu from right */
.show-menu {
    transform: translateX(0);
}

.mobile-main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 100%;
}

.mobile-main-menu ul li {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px grey dotted;
    width: 100%;
    padding-bottom: 8px;
    
}


.mobile-main-menu ul li a{
    color: white;
    transition: color 0.6s;
}

.mobile-main-menu ul li a:hover {
    color: #aaa;
}

.alert{
    color: aliceblue;
}
.wrapper {
    display: flex;
}
/* Media Queries */

@media(max-width: 960px) {
    .desktop-main-menu {
        display: none;
    }
    .hamburger{
        display: block;
    }
}

@media(max-width: 600px) {
    .logo {
        width: 150px;
        margin: auto;
    }
}
